<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <div id="cuerpo">
        <% if (rta) { %>
          <p> ¡¡ Bienvenido - <%= rta %> !!</p>
        <% } %>
      </div>
      </center>
  </body>
</html>
