<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/curso.css" />
    <title>OpenTopic 19062019</title>
  </head>
  <body>
    <!--<p class="nombremini">
          <% if (nombre) { %>
            <%= nombre %>
          <% } %>
          <p>-->
          <div id="contenidos">Contenidos</div>
          <div id="settingIcon"><img src="img/setting.png"/></div>
    <div id="izquierdo">
  <ul>
                <li class="unidad">Fundamentos de la Inteligencia Artificial
                  <ul>
                    <li class="tema">Introducción a la IA</li>
                    <li class="tema">Técnicas de la IA</li>
                    <li class="tema">Representación de problemas en espacios de estado</li>
                  </ul>

                 </li>

                 <li class="unidad">Unidad 2
                   <ul>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                   </ul>

                  </li>
                  <li class="unidad">Unidad 3
                    <ul>
                      <li class="tema">Tema 2</li>
                      <li class="tema">Tema 2</li>
                      <li class="tema">Tema 2</li>
                      <li class="tema">Tema 2</li>
                    </ul>

                   </li>



              </ul>

              <p class="menu">Referencias Bibliográficas</p>
              <ul>
                <li class="unidad">Libros</li>
                <li class="unidad">Artículos</li>
                <li class="unidad">Tesis</li>
                <li class="unidad">Otros</li>
               </ul>
             </div>
    <div id="centrocurso">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </body>
</html>
