<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>OpenTopic 19062019</title>
  </head>
  <body>
    <div id="encabezado">OpenTopic</div>
    <div id="opciones"><% include partials/opciones.ejs %></div>
    <div id="divrespuesta">
      <% if (rta) { %>
        <p> ¡¡ <%= rta %> !!</p>
      <% } %>
    </div>
    <div id="diverror"></div>
    <div id="centro">
              <p class="menu">Listado de Cursos -  <i>OpenTopic</i></p>
              <p class="letra">A</p>
                  <ul>
                    <li class="curso">Curso 1</li>
                    <li class="curso">Curso 2</li>
                    <li class="curso">Curso 3</li>
                  </ul>

                  <p class="letra">B</p>
                      <ul>
                        <li class="curso">Curso 1</li>
                        <li class="curso">Curso 2</li>
                        <li class="curso">Curso 3</li>
                      </ul>

                  <p class="letra">C</p>
                          <ul>
                            <li class="curso">Curso 1</li>
                            <li class="curso">Curso 2</li>
                            <li class="curso">Curso 3</li>
                          </ul>

                    <p class="letra">D</p>
                              <ul>
                                <li class="curso">Curso 1</li>
                                <li class="curso">Curso 2</li>
                                <li class="curso">Curso 3</li>
                              </ul>

                      <p class="letra">E</p>
                                  <ul>
                                    <li class="curso">Curso 1</li>
                                    <li class="curso">Curso 2</li>
                                    <li class="curso">Curso 3</li>
                                  </ul>

                        <p class="letra">F</p>
                                      <ul>
                                        <li class="curso">Curso 1</li>
                                        <li class="curso">Curso 2</li>
                                        <li class="curso">Curso 3</li>
                                      </ul>
    </div>
    <div id="pie">
      <% include partials/imagenes.ejs %>
    </div>
     <script src="js/index.js"></script>
  </body>
</html>
