<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>OpenTopic 19062019</title>
  </head>
  <body>
    <div id="encabezado">OpenTopic</div>
    <div id="opciones"><% include partials/opciones.ejs %></div>
    <div id="divrespuesta">
      <% if (rta) { %>
        <p> ¡¡ <%= rta %> !!</p>
      <% } %>
    </div>
    <div id="diverror"></div>
    <div id="centro"></div>
    <div id="pie">
      <% include partials/imagenes.ejs %>
    </div>
     <script src="js/index.js"></script>
  </body>
</html>
