<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="loginFinal">
      <% if (rta) { %>
        <p><%= rta %></p>
      <% } %>
    </div>
  </body>
</html>
