<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro del curso</title>
    <link rel="stylesheet" type="text/css" href="css/registro.css" />
  </head>
  <body>
    <a href="/"><img class="opciones" src="img/back.png" />Regresar</a>
    <hr/>
    <div id="divrespuesta">
      <% if (rta) { %>
        <p> ¡¡ <%= rta %> !!</p>
      <% } %>
    </div>
  </body>
</html>
