body{
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


div#izquierdo{
  background-color: white;
  //background-color: #c8e1ff;
  height: auto;
  width:20%;
  //display: inline-block;
  float:left;


}
li.tema:hover{
  background-color: #f9edbe;
  font-weight: normal;
  list-style-type: square;
  color:black;

}
li.tema{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad:hover{
  //font-weight: bold;
  color:blue;
}

div#centrocurso{
  background-color: white;
  height: 450px;
  width:75%;
  float:left;
  padding-left: 20px;
  padding-right: 10px;
  text-align: justify;
  color:black;
}



img.logos2{
  width: 35px;
  height: 35px;
}
img.logos2:hover{
  width: 37px;
  height: 37px;
}



div#contenidos{
  background-color: #C9F0DD;
  text-align: left;
  width:20%;
  float:left;

  background-color: #C9F0DD;
  font-size: 13px;
  font-weight: bold;
}

div#settingIcon{
  text-align: left;

}
p.menu{
  background-color: #C9F0DD;
  font-size: 13px;
  font-weight: bold;

}
