body{
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


div#contenidos{

  background-color: white;
  height: auto;
  width:50%;
  //display: inline-block;
  float:left;
  //border-right: 1px solid #ccc;

}

div#titulo{
  background-color: white;

  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

div#informacion{
  background-color: #fcf7e5;
  padding-left: 5px;
  padding-right: 10px;
  text-align: justify;
  color:black;
  font-size: 14px;
  letter-spacing: -1px;
}

li.tema:hover{
  background-color: #fcf7e5;
  font-weight: bold;
  list-style-type: square;
  //color:black;
    font-size: 15px;

}
li.tema{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad, li.biblio{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad:hover{
  color:blue;

}

li.biblio:hover{
  color:blue;
  background-color: #fcf7e5;
  list-style-type: square;
  font-size: 15px;
  font-weight: bold;
}





img#setting{
  width: 16px;
  height: 16px;
}

img#setting:hover{
  width: 17px;
  height: 17px;
  cursor:pointer;
}



div#loginFinal{
  color:red;
}

div#settingIcon{
  text-align: left;

}
p#tituloContenidos{
  //background-color: #c4c4c4;
  font-size: 14px;
  font-weight: bold;
}
