body{
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


div#izquierdo{
  background-color: white;
  //background-color: #c8e1ff;
  height: auto;
  width:20%;
  //display: inline-block;
  float:left;
  border-right: 1px solid #ccc;

}
li.tema:hover{
  background-color: #fcf7e5;
  font-weight: bold;
  list-style-type: square;
  //color:black;
    font-size: 15px;

}
li.tema{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad, li.biblio{
    font-size: 14px;
    letter-spacing: -1px;
    cursor:pointer;
    padding-left: 0px;

}

li.unidad:hover{
  color:blue;

}

li.biblio:hover{
  color:blue;
  background-color: #fcf7e5;
  list-style-type: square;
  font-size: 15px;
  font-weight: bold;
}

div#centrocurso{
  background-color: white;
  height: 450px;
  width:75%;
  float:left;
  padding-left: 20px;
  padding-right: 10px;
  text-align: justify;
  color:black;
}



img#setting{
  width: 16px;
  height: 16px;
}

img#setting:hover{
  width: 17px;
  height: 17px;
  cursor:pointer;
}

div#contenidos{
  background-color: #c4c4c4;
  text-align: left;
  width:20%;
  float:left;

  font-size: 14px;
  font-weight: bold;
}

div#loginFinal{
  color:red;
}

div#settingIcon{
  text-align: left;

}
p#bibliografia{
  background-color: #c4c4c4;
  font-size: 14px;
  font-weight: bold;
}
