body{
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

div#encabezado{
 // background-color: #C9F0DD;
  background-color: #f5f5f5;
  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: -1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#3B2F63;

}
div#opciones{
  background-color: white;
  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 2rem;
  letter-spacing: -1px;
  border: 1px solid #c8e1ff;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
div#centro{
  background-color: white;
  width:96%;
  float:left;
  padding: 8px 20px;

  border: 0px solid #ccc;
  border-radius: 4px;

}



img.opciones{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

img.opciones:hover{
  width: 16px;
  height: 16px;
}



hr.listado{
    background-color: #ccc;
    border: 0 none;
    height: 1px;
}

table#tablaInicio{
  width: 98%;
}


tr.curso{
  font-size: 13px;
}

tr.curso:hover{
  background-color: #fcf7e5;
}


a#nombre{
    cursor:pointer;
    text-decoration: none;
    color:blue;

}

a#nombre:hover{
    text-decoration: underline;
}
