body{
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

div#encabezado{
 // background-color: #C9F0DD;
  background-color: #f5f5f5;
  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: -1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#3B2F63;

}
div#opciones{
  background-color: white;
  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 2rem;
  letter-spacing: -1px;
  border: 1px solid #c8e1ff;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
div#centro{
  background-color: white;
  width:96%;
  float:left;
  padding: 8px 20px;


  border: 1px solid #ccc;
  border-radius: 4px;

}



img.opciones{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

img.opciones:hover{
  width: 16px;
  height: 16px;
}



hr.listado{
    background-color: #ccc;
    border: 0 none;
    height: 1px;
}

table#tablaInicio{
  width: 100%;
  border-collapse: collapse;
  //border: 1px solid #AAAAAA;

}

table#tablaInicio tr.losTH{
	text-align:left;
	color:red;
}

tr.curso td, tr th{
  border-bottom:1pt solid #ccc;
}

tr.curso td{
  font-size: 14px;
  padding-bottom: 15px;
}

tr.curso:hover{
  background-color: #f9edbe;
  font-style: italic;
}


a#nombre{
    cursor:pointer;
    text-decoration: none;
    color:blue;

}

a#nombre:hover{
    text-decoration: underline;
    font-style: italic;
}

div#informacion{
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 10px;
  text-align: justify;
  color:black;
  font-size: 16px;
  letter-spacing: -1px;
}

div#pie{
font-weight: bold;
  //background-color: #f5f5f5;
  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  font-size: 1.0rem;
  letter-spacing: -1px;
  border: 0px solid #ccc;
  border-radius: 4px;
  color:#3B2F63;
  display: inline-block;
}
