
input#txtCla:focus{
  background-color: #f9edbe;
}

hr{
  background-color: #ccc;
  border: 0 none;
  height: 1px;
  width:80%
}

div#loginrespuesta{
  font-size:18px;
  color:darkblue;
}
form{
  font-size:18px;
  color:darkblue;
}
